@import url('@/assets/base.css');
@import url('@/assets/pico-2/css/pico.colors.css');
@import url('@/assets/pico-2/css/pico.pumpkin.min.css');

.main {
    margin-top: 150px;
}

.btn {
    cursor: pointer;
}

.default-border {
    border: 1px solid #feb1a6;
    box-shadow: 0 0 5px #feb1a6;
}

[data-tooltip]:not(a, button, input) {
    border-bottom: unset;
}

:root:not([data-theme=dark]), [data-theme=light] {
    --pico-primary: #feb1a6;
    --pico-primary-background: #feb1a6;
    --pico-primary-hover: #b18a83;
    /* --pico-primary-hover-background: #7d625d; */
    --pico-background-color: #f3f2ed30;
    --pico-color: #8d5a53;
    --pico-border-color: #feb1a6;
    --pico-muted-border-color: #b19d9559;
}

:root {
    background-color: #fff3e8;
    --pico-font-family: Dosis;
    --pico-border-radius: 0.8rem;
    --pico-typography-spacing-vertical: 0.3rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
}