@import url('@/assets/base.css');
@import url('@/assets/pico-2/css/pico.colors.css');
@import url('@/assets/pico-2/css/pico.pumpkin.min.css');

.main {
    margin-top: 150px;
}

:root:not([data-theme=dark]), [data-theme=light] {
    --pico-card-box-shadow: 5px;
    --pico-background-color: #f3f2ed30;
    --pico-color: #8d5a53;
    --pico-muted-border-color: #b19d9559;
}

:root {
    --pico-font-family: Dosis;
    --pico-border-radius: 0.8rem;
    --pico-typography-spacing-vertical: 0.3rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
}