@import url('@/assets/base.css');
@import url('@/assets/pico-2/css/pico.colors.css');
@import url('@/assets/pico-2/css/pico.pumpkin.min.css');
@import url('@/assets/tooltip.css');

.main {
    margin-top: 150px;
}

:root {
    --pico-font-family: Dosis;
    --pico-border-radius: 0.8rem;
    --pico-typography-spacing-vertical: 0.3rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
}